<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:application-dao.xml"/>
    <import resource="classpath:application-service.xml"/>
    <!-- spring 整合 activiti：https://www.bilibili.com/video/BV1Ut411y7NT/?p=23 -->
    <import resource="classpath:application-activiti.xml"/>
</beans>
